*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div {border: 0px !important;}
img {   
    height: auto;
  }
.container{
    width: 1000px !important;
}
.col{
    height: 350px !important;
    width: 330px !important;
}
table, th, td {
    border:1px solid black;
}